<div class="card mt-4">
    <div class="card-body">
        <h1>Acerca de Nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure expedita debitis dolorum odit quo necessitatibus est. Soluta impedit architecto delectus. Sunt alias in eius iste vitae corporis quae, atque totam, deserunt, nisi recusandae eaque ratione sint velit maiores quo dolor.</p>
    </div>
</div>