<div id="card-inicio" class="jumbotron mt-4 p-4">
    <h1 class="display-8">InstaRocketPlus</h1>
    <p class="lead">Aplicacion para regulación de subida de seguidores a Instagram.</p>
    <hr class="my-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cum ut, fugiat magni repellendus exercitationem quisquam, quos architecto aperiam ipsa illum eveniet beatae cumque, perferendis et facilis! Ipsa, ab illum.</p>
    <a class="btn btn-primary btn-lg" href="https://www.instagram.com/servicewebpro/?hl=es-la">Desarrollado por Service Web Pro</a>
</div>


